[run]
source = pkgcheck
branch = True
omit = pkgcheck/test/*

[report]
show_missing = True
skip_covered = True
exclude_lines =
	# Have to re-enable the standard pragma
	pragma: no cover

	# Don't complain if tests don't hit defensive assertion code
	raise AssertionError
	raise NotImplementedError
