[run]
source = pkgcheck
branch = True
omit =
	tests/*
	*/_const.py
	*/_verinfo.py

[paths]
source =
    src/pkgcheck
	.tox/*/lib/python*/site-packages/pkgcheck
	.tox/pypy*/site-packages/pkgcheck

[report]
show_missing = True
skip_covered = True
exclude_lines =
	# re-enable the standard pragma
	pragma: no cover

	# ignore defensive assertions
	raise AssertionError
	raise NotImplementedError

	# ignore unexecutable code
	if __name__ == .__main__.:
