[MESSAGES CONTROL]
# snake_case variable naming style: C0103
# not enough public methods: R0903
# too many public methods: R0904
# too many return statements: R0911
# too many branches: R0912
# too many local variables: R0914
# too many statements: R0915
disable=C0103,R0903,R0904,R0911,R0912,R0914,R0915

[DESIGN]
# increase allowed parent classes: R0901
max-parents=15
