include LICENSE *.py *.rst
include tox.ini pyproject.toml .coveragerc .pylintrc
recursive-include bin *
recursive-include contrib *
recursive-include data *
recursive-include doc *
recursive-exclude doc/generated *
recursive-exclude doc/man/pkgcheck *
recursive-include requirements *
recursive-include src *
recursive-include testdata *
recursive-include tests *
recursive-include tree-sitter-bash *
global-exclude *.so *.pyc *.pyo __pycache__
