[build-system]
requires = [
	"wheel", "setuptools",
	"chardet",
	"lazy-object-proxy",
	"lxml",
	"pathspec",
	"tree-sitter>=0.19.0",
	"snakeoil~=0.9.10",
	"pkgcore~=0.12.11",
]
build-backend = "setuptools.build_meta"
