[build-system]
requires = [
	"wheel", "setuptools",
	"chardet",
	"lazy-object-proxy",
	"lxml",
	"pathspec",
	"tree-sitter",
	"snakeoil~=0.9.3",
	"pkgcore~=0.11.4",
]
build-backend = "setuptools.build_meta"
