name: release

on:
  push:
    branches: [deploy]
    tags: [v*]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: release

    permissions:
      id-token: write # Used to authenticate to PyPI via OIDC

      contents: write # Used to authenticate github release publish

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Reject any VCS dependencies
      shell: python
      continue-on-error: ${{ github.ref_type == 'branch' }}
      run: |
        import re, tomllib
        manifest = tomllib.load(open('pyproject.toml', 'rb'))
        deps = manifest['build-system']['requires']
        deps.extend(manifest['project']['dependencies'])
        if rejects := list(filter(re.compile(r'@[^+]+').search, deps)):
          rejects = "  \n".join(sorted(rejects))
          raise Exception(f'VCS dependencies were detected in [build-system]:\n  {rejects}')

    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: "3.13"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build ".[test,doc]"

    - name: Test with pytest
      env:
        PY_COLORS: 1 # forcibly enable pytest colors
      run: pytest

    - name: Build sdist
      run: |
        git clean -fxd
        make man
        make sdist

    - name: Build wheel
      run: make wheel

    - name: Output dist file info
      run: |
        sha512sum dist/*
        tar -ztf dist/*.tar.gz | sort

    - uses: actions/upload-artifact@v4
      with:
        name: results
        path: dist/*

    - name: publish
      uses: pypa/gh-action-pypi-publish@release/v1
      if: startsWith(github.ref, 'refs/tags/')

    - name: Create GitHub release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: dist/*.tar.gz
        fail_on_unmatched_files: true
        draft: true

  build-and-push-docker-image:
    if: startsWith(github.ref, 'refs/tags/')
    needs: ["build-and-deploy"]
    runs-on: ubuntu-latest
    environment: release

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Scrape build info
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/v}" >> $GITHUB_ENV

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/pkgcore/pkgcheck
          tags: |
            type=semver,pattern={{version}}
            type=sha

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            PKGCHECK_VERSION=${{ env.RELEASE_VERSION }}
